:root {
    /* 布局最大宽度  默认 1440px */
    --vp-layout-max-width: 100%;
    /* 菜单栏宽度 默认 272px */
    --vp-sidebar-width: 290px;
    /* 内容区容器最大宽度 默认 688px */
    --vp-layout-content-container-max-width: var(100% - 30px);
    /* 布局右侧边栏最大宽度 默认 256px */
    --vp-layout-aside-max-width: 350px;
    /* 代码片段图标的主题色 */
    --vp-code-block-icon-fill: mediumslateblue;
}

.VPDoc.VPDoc .aside {
    max-width: var(--vp-layout-aside-max-width);
}

.VPDoc.has-aside .container .content-container {
    max-width: var(--vp-layout-content-container-max-width);
}