/* 默认变量 */
:root {
    --vp-c-brand: var(--vp-c-blue);
    --vp-c-brand-light: var(--vp-c-blue-light);
    --vp-c-brand-lighter: var(--vp-c-blue-lighter);
    --vp-c-brand-dark: var(--vp-c-blue-dark);
    --vp-c-brand-darker: var(--vp-c-blue-darker);
    /* 布局最大宽度  默认 1440px */
    --vp-layout-max-width: 100%;
    /* 菜单栏宽度 默认 272px */
    --vp-sidebar-width: 290px;
    /* 内容区容器最大宽度 默认 688px */
    --vp-layout-content-container-max-width: var(100% - 30px);
    /* 布局右侧边栏最大宽度 默认 256px */
    --vp-layout-aside-max-width: 350px;

}

/* 自定义变量 */
:root {
    --vp-c-blue: #7c68ee;
    --vp-c-blue-light: #5443d0;
    --vp-c-blue-lighter: #837ae6;
    --vp-c-blue-dark: #5434f4;
    --vp-c-blue-darker: #4316f3;

}

/* code block 代码块变量 */
:root {
    /* 代码片段图标的主题色 */
    --vp-code-block-icon-fill: mediumslateblue;
    /* 代码片段 hover 的背景色 */
    --vp-code-block-hover-bg: #333;
    /* 代码片段 code-operator-area 更多扩展的宽度 */
    --vp-code-block-coa-more-extension-width: auto;
    /* 代码片段 code-operator-area 每个扩展的宽度 */
    --vp-code-block-coa-more-extension-item-width: 40px;
}